#RECAPTCHA
VITE_RECAPTCHA_SITE_KEY_V3= '6LeAKhkqAAAAADr644UXDMN-k_R8HH0dwsHCST1S'
VITE_RECAPTCHA_SECRET_KEY_V3= '6LeAKhkqAAAAAFBwCjWCZ87pGZOp2JWp-PGau0d9'

#MAILS GENERAL
VITE_EMAIL_CHARSET='utf-8'
VITE_EMAIL_ENCODING="quoted printable"
VITE_EMAIL_SUBJECT_USUARIO="¡Gracias por tu interés! Un asesor te contactará pronto"
VITE_NAME_APP="Central Norte"
VITE_EMAIL_RECIPENT="info@centralnortesrl.com"
VITE_MAIL_CONTACTO="info@centralnortesrl.com"
VITE_EMAIL_RECIPENT_CC=""
VITE_NAME_LANDING="Landing Merch"

#RRSS
VITE_FACEBOOK='https://www.facebook.com/profile.php?id=100063897108412'
VITE_INSTAGRAM='https://www.instagram.com/centralnortesrl'
VITE_LINKEDIN='https://www.linkedin.com/company/central-norte/'

#DATOS
VITE_LINK_TO_WHATSAPP='https://wa.me/5491136537605?text=Hola%20*Central%20Norte*,%20necesito%20m%C3%A1s%20informaci%C3%B3n...'

VITE_MAIL_TO='mailto:info@centralnortesrl.com'

##############################
### Valores Locales
##############################
VITE_ENVIRONMENT= 'local'
VITE_ROOT= 'http://centralnorte.test/'
VITE_IS_PROMO='false'

VITE_SMTP='0.0.0.0'
VITE_EMAIL_CLIENT='testuser'
VITE_PASSWORD='testpwd'
VITE_EMAIL_PORT=1025

VITE_DSN='mysql:host=localhost;dbname=lc_central_norte;charset=utf8mb4;port:3306'
VITE_DB_USER='homestead'
VITE_DB_PASS='secret'

##############################
### Valores Production
##############################
# VITE_ENVIRONMENT= 'production'
# VITE_ROOT= 'https://centralnortesrl.com/landing/'

# VITE_SMTP='mail.centralnortesrl.com'
# VITE_EMAIL_CLIENT='info@centralnortesrl.com'
# VITE_PASSWORD='Cn08082024.'
# VITE_EMAIL_PORT='465'

# VITE_DSN='mysql:host=localhost;dbname=centralnorte_landing;charset=utf8mb4;port:3306'
# VITE_DB_USER='centralnorte_landing'
# VITE_DB_PASS='4XE8sbfXVC7wSKTbMf3x'