.estadisticas {
  margin-bottom: 30px;
}

.content_all {
  text-align: center;
}

.content_circle {
  max-width: 80%;
  margin: auto;
}

.content_all p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 0.75rem;
}

.content_all p br {
  display: none;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .content_all p {
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) {
  .estadisticas {
    margin-bottom: 60px;
  }

  .content_circle {
    max-width: 70%;
  }

  .content_all p {
    font-size: 0.95rem;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .content_circle {
    max-width: 50%;
  }

  .content_all p {
    font-size: 1.15rem;
  }

  .content_all p br {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .content_circle {
    max-width: 40%;
  }

  .content_all p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
