.reviews {
  margin-bottom: 30px;
}

.container_review {
  background: white;
  padding: 20px;
}

.content_review {
  background: #e6e9f1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 3px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.comments {
  font-size: 0.85rem;
  min-height: 145px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.separator {
  border: 1px solid #c8c8c8;
  width: 100%;
  margin-bottom: 1rem;
}

.content_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_thumbnail {
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.name {
  margin-bottom: 0;
  font-weight: 700;
  margin-left: 10px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */
@media (min-width: 501px) {
  .name {
    font-size: 0.75rem;
  }
}

@media (min-width: 576px) {
  .name {
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) {
  .reviews {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .name {
    min-height: auto;
  }
}

@media (min-width: 1025px) {
  .name {
    min-height: 48px;
  }
}

@media (min-width: 1200px) {
  .comments {
    min-height: 185px;
  }

  .name {
    font-size: 0.95rem;
  }
}

@media (min-width: 1300px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1500px) {
}

@media (min-width: 1600px) {
}
